<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page7">
  <img src="assets/img/NnG1pRmdTJmySx1zONwl_download.jpg" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
  <h1 id="about-heading1" style="color:#000000;">
    Lorem Ipsum
  </h1>
  <div id="about-markdown1" class="show-list-numbers-and-dots">
    <p style="color:#000000;">
      <strong>
        Lorem Ipsum
      </strong>
      is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#39;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
      not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
      software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
  </div>
</ion-content>