<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page5">
  <form id="login-form1">
    <ion-list id="login-list2">
      <ion-item id="login-input1">
        <ion-label>
          Email
        </ion-label>
        <ion-input type="email" placeholder=""></ion-input>
      </ion-item>
      <ion-item id="login-input2">
        <ion-label>
          Password
        </ion-label>
        <ion-input type="password" placeholder=""></ion-input>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height:40px;" id="login-spacer2"></div>
    <button id="login-button5" ion-button color="stable" block>
      Log in
    </button>
    <button id="login-button6" ion-button clear color="positive" block href-inappbrowser="/signup">
      Or create an account
    </button>
  </form>
</ion-content>