<ion-tabs id="tabsController-tabs1">
  <ion-tab [root]="tab1Root" tabTitle="Dog Locator" tabIcon="pin" id="tabsController-tab1"></ion-tab>
  <ion-tab [root]="tab2Root" (click)="tempClick()" tabTitle="Dog Temp" tabIcon="heart" id="tabsController-tab2"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Options" tabIcon="settings" id="tabsController-tab3"></ion-tab>
</ion-tabs>