// page-dog-location {
//     .ios, .md {
 
//         home-page {
     
//           .scroll {
//             height: 100%
//           }
     
//           #map {
//             width: 100%;
//             height: 100%;
//           }
     
//         }
     
//     }
// }
.ios, .md {
 
    page-dog-location {
 
      .scroll {
        height: 100%
      }
 
      #map {
        width: 100%;
        height: 100%;
      }
 
    }
 
}