<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Dog Location
    </ion-title>
    <!-- <ion-buttons end>
      <button ion-button (click)="addMarker()"><ion-icon name="add"></ion-icon>Add Marker</button>
    </ion-buttons>  -->
  </ion-navbar>
</ion-header>
<!-- <ion-content ></ion-content> -->
<!-- <ion-content padding id="page2">
  <div #map id="map"></div> 
</ion-content> -->
<ion-content>
  <div #map id="map"></div> 
</ion-content>