<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Dog Temperature
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page3">
  <ion-title>Current temp: {{temp}}</ion-title>
</ion-content>