<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Options
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page4">
  <div id="options-container1"></div>
  <div class="spacer" style="width:300px;height:62px;" id="options-spacer1"></div>
  <button id="options-button1" ion-button color="positive" block>
    Saved Files
  </button>
  <button id="options-button2" ion-button color="positive" block>
    Change Your Profile
  </button>
  <button id="options-button3" ion-button color="positive" block>
    Change Dog Profile
  </button>
  <button id="options-button4" ion-button color="positive" block>
    Exit
  </button>
</ion-content>