<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Signup
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page6">
  <div class="spacer" style="width:300px;height:34px;" id="signup-spacer3"></div>
  <form id="signup-form2">
    <ion-list id="signup-list3">
      <ion-item id="signup-input3">
        <ion-label>
          Full Name
        </ion-label>
        <ion-input type="text" placeholder=""></ion-input>
      </ion-item>
      <ion-item id="signup-input4">
        <ion-label>
          Address
        </ion-label>
        <ion-input type="text" placeholder=""></ion-input>
      </ion-item>
      <ion-item id="signup-input6">
        <ion-label>
          Birthdate
        </ion-label>
        <ion-input type="date" placeholder=""></ion-input>
      </ion-item>
      <ion-item id="signup-radio1">
        <ion-label>
          Gender
        </ion-label>
        <ion-radio></ion-radio>
      </ion-item>
      <ion-item id="signup-input5">
        <ion-label>
          Password
        </ion-label>
        <ion-input type="password" placeholder=""></ion-input>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width:300px;height:28px;" id="signup-spacer4"></div>
    <ion-item id="signup-input8">
      <ion-label>
        Dog Name
      </ion-label>
      <ion-input type="text" placeholder=""></ion-input>
    </ion-item>
    <button id="signup-button7" ion-button color="stable" block>
      Sign up
    </button>
  </form>
</ion-content>